<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customerService" class="com.company.service.CustomerSeviceImpl"/>

    <bean id="controller" class="com.company.controller.CustomerController">
        <property ref="customerService" name="customerService"/>
    </bean>

    <bean id="appConfig" class="com.company.appconfig.AppConfig">
        <property name="email" value="elik@gmail.com"/>
        <property name="companyName" value="Pivotal"/>
    </bean>
</beans>