<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  id ona goredirki siz cagiranda bu id  gore cagiracaqsiz ve obyekti ona gore yaradacaq  -->
    <bean id="person" class="com.company.model.Customer">
    </bean>

    <bean id="person2" class="com.company.model.Employee"></bean>


</beans>